*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans';
    box-sizing: border-box;
}
body{
    background-color: azure ;

}
.card{
    width: 90%;
    max-width: 500px;
    background: linear-gradient(135deg,#bec3d0fc, #65adb2);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding:40px 35px;
    text-align: center;
    
}
.search{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #100808ec;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 0px;
   cursor: pointer;
}
.search button img{
    width:30px;
    bottom: 15px;
     position:relative;
   }
.icon{
    width:200px;
    margin-top: 30px;
}

.weather h1{
    font-size: 60px;
    font-weight: 500;
}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display:flex;
    align-items: center;
    text-align: left;
}
.col img{
    width:40px;
    margin-right: 5px;
}
.humidity{
    font-size: 20px;
    margin-top: -6px;
    font-family: 'sans-serif';
}
.Wind{
    font-size: 20px;
    margin-top: -6px;
    font-family: 'sans-serif';
}
.weather{
    display: none;
}
.error{
    text-align:initial;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}